body {
	background-color:#282828;
	background-image:url("../img/header.png");
	background-repeat:repeat-x;
	color:white;
	font-family:"Helvetica", Arial;
}

a {
	color:white;
}

h1 {
	font-family:"Lucida Console", Arial, Verdana;
	font-size:27px;
	float:right;
}

.header img {
	float:left;
}

#oktext {
	color:red;
}

.logo {
    height:55px;
    width:170px;
    float:right;
}

.metadata {
    padding:10px;
}

.parameters {
	border-style:solid;
    padding:5px;
    border-width:2px;
    display:inline-block;
    margin-top:5px;
}

.title {
	font-weight:bold;
}

#ok_button {
	font-size:16px;
}